.scene {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  perspective: 80em;
  perspective-origin: 140% -30%;
  width: 25em;
  height: 25em;

  @media screen and (max-width: 1024px) {
    transform: translateX(1.5em);
    perspective-origin: 160% -30%;
    width: 20em;
    height: 20em;
  }
}

// Common styles for boxes
.box {
  position: absolute;
  transform-style: preserve-3d;
  width: 25em;
  height: 2.5em;

  @media screen and (max-width: 1024px) {
    width: 20em;
    height: 2em;
  }

  .side {
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 100%;

    &.front {
      transform: translateZ(12.5em);

      @media screen and (max-width: 1024px) {
        transform: translateZ(10em);
      }
    }

    &.back {
      transform: translateZ(-12.5em);

      @media screen and (max-width: 1024px) {
        transform: translateZ(-10em);
      }
    }

    &.left {
      transform: rotateY(-90deg) translateZ(12.5em);

      @media screen and (max-width: 1024px) {
        transform: rotateY(-90deg) translateZ(10em);
      }
    }

    &.right {
      transform: rotateY(90deg) translateZ(12.5em);

      @media screen and (max-width: 1024px) {
        transform: rotateY(90deg) translateZ(10em);
      }
    }

    &.top {
      transform: rotateX(90deg) translateZ(12.5em);
      height: 25em !important;

      @media screen and (max-width: 1024px) {
        transform: rotateX(90deg) translateZ(10em);
        height: 20em !important;
      }
    }

    &.bottom {
      transform: rotateX(-90deg) translateZ(-10em);
      height: 25em !important;

      @media screen and (max-width: 1024px) {
        transform: rotateX(-90deg) translateZ(-8em);
        height: 20em !important;
      }
    }
  }
}

// The base of the pickup
.base {
  // top: 50%;
  // transform: translateY(-50%);
  bottom: 30%;

  & > .side {
    box-shadow: inset 0 0 1.125em 0.5em #00000080;
    background-color: #000b;

    &.front {
      background-image: linear-gradient(
        to right,
        #47494c,
        #36383c 50%,
        #1f1f1f
      );
    }
  }
}

.controls {
  display: flex;
  position: absolute;
  right: 0.625em;
  bottom: 0;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    .label {
      color: #7f7f7f;
      font-weight: 600;
      font-size: 6px;
      font-family: monospace;
      letter-spacing: 1px;
      user-select: none;
      text-transform: uppercase;
    }

    button {
      position: relative;
      cursor: pointer;
      box-shadow: inset 1px 1px 1px #00000055;
      background-color: #181818;
      width: 2.75em;
      height: 0.75em;

      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1px;
        background: #444;
        width: 0.75em;
        height: 0.125em;
        content: "";
      }
    }
  }
}

.plate {
  position: absolute;
  transform: rotateX(90deg) translateX(2.5em) translateZ(7.625em);
  border-radius: 50%;
  background-image: repeating-radial-gradient(
    circle,
    #727377,
    #727377 50%,
    #000000 50%
  );
  background-color: #727377;
  width: 17.5em;
  height: 15em;

  @media screen and (max-width: 1024px) {
    transform: rotateX(90deg) translateX(2em) translateZ(6.1em);
    width: 14em;
    height: 12em;
  }
}

.recordSupport,
.record {
  position: absolute;
  transform: rotateX(91deg) translateX(2.5em) translateZ(9.125em) rotateZ(0deg);
  mask-image: radial-gradient(circle at center, transparent 4%, black 5%);
  border-radius: 50%;
  background-image: linear-gradient(to right, #2f2f2f, #363636 50%, #252525);
  width: 17.5em;
  height: 17.5em;

  @media screen and (max-width: 1024px) {
    transform: rotateX(91deg) translateX(2em) translateZ(7.3em) rotateZ(0deg);
    width: 14em;
    height: 14em;
  }
}

.record {
  transform: rotateX(91deg) translateX(2.5em) translateZ(9.4em) rotateZ(0deg);

  @media screen and (max-width: 1024px) {
    transform: rotateX(91deg) translateX(2em) translateZ(7.52em) rotateZ(0deg);
  }
}

.recordSupport.spinning,
.record.spinning {
  animation: spinningDesktop 6s linear infinite;

  @media screen and (max-width: 1024px) {
    animation: spinningMobile 6s linear infinite;
  }
}

.lid {
  transform: translateY(-2.5em);
  transition: all 1s linear;

  @media screen and (max-width: 1024px) {
    transform: translateY(-2em);
  }

  & > .side {
    background-color: #0005;
  }
}

// The lid of the pickup
.lid.open {
  transform: rotateX(45deg) translateY(-13.75em) translateX(-1.25em) scale(1.06);

  @media screen and (max-width: 1024px) {
    transform: rotateX(45deg) translateY(-11.25em) translateX(-1.1em)
      scale(1.06);
  }

  @media screen and (max-width: 600px) {
    transform: rotateX(45deg) translateY(-11.25em) translateX(-0.75em)
      scale(1.06);
  }
}

.needle {
  position: absolute;
  top: -1.5625em;
  right: -6.875em;
  transform: rotateX(10deg) rotateY(90deg) rotateZ(170deg);
  transition: all 1s linear;
  border-radius: 6.25em;
  background-color: white;
  width: 18.75em;
  height: 0.375em;

  @media screen and (max-width: 1024px) {
    top: -1.25em;
    right: -5.5em;
    width: 15em;
    height: 0.3em;
  }
}

.needle.rotated {
  right: -3.125em;
  transform: rotateX(10deg) rotateY(30deg) rotateZ(170deg) scale(0.6);

  @media screen and (max-width: 1024px) {
    right: -2.5em;
    transform: rotateX(10deg) rotateY(30deg) rotateZ(170deg) scale(0.5);
  }
}

.needle.reverseRotation {
  right: -6.875em;
  transform: rotateX(10deg) rotateY(90deg) rotateZ(170deg);

  @media screen and (max-width: 1024px) {
    right: -5.5em;
  }
}

.needle.lifted {
  top: -2.5em;

  @media screen and (max-width: 1024px) {
    top: -2em;
  }
}

@keyframes spinningDesktop {
  0% {
    -webkit-transform: rotateX(91deg) translateX(2.5em) translateZ(9.125em)
      rotateZ(0deg);
    transform: rotateX(91deg) translateX(2.5em) translateZ(9.125em)
      rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(91deg) translateX(2.5em) translateZ(9.125em)
      rotateZ(360deg);
    transform: rotateX(91deg) translateX(2.5em) translateZ(9.125em)
      rotateZ(360deg);
  }
}

@keyframes spinningMobile {
  0% {
    -webkit-transform: rotateX(91deg) translateX(2em) translateZ(7.3em)
      rotateZ(0deg);
    transform: rotateX(91deg) translateX(2em) translateZ(7.3em) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(91deg) translateX(2em) translateZ(7.3em)
      rotateZ(360deg);
    transform: rotateX(91deg) translateX(2em) translateZ(7.3em) rotateZ(360deg);
  }
}
