@keyframes open-left {
  from {
    transform: scaleX(0.33);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes open-right {
  from {
    transform: scaleX(0.33);
    transform-origin: right;
  }
  to {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.open-left {
  animation: open-left 0.5s linear forwards;
}

.open-right {
  animation: open-right 0.5s linear forwards;
}
