@keyframes open-left {
  from {
    transform: scaleX(0.33);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes open-middle {
  from {
    transform: scaleX(0.33);
    transform-origin: center;
  }
  to {
    transform: scaleX(1);
    transform-origin: center;
  }
}

@keyframes open-right {
  from {
    transform: scaleX(0.33);
    transform-origin: right;
  }
  to {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.open-left {
  animation: open-left 0.5s linear forwards;
}

.open-middle {
  animation: open-middle 0.5s linear forwards;
}

.open-right {
  animation: open-right 0.5s linear forwards;
}

.viewTransitionWrapper :global(::view-transition-old(code-photo)),
.viewTransitionWrapper :global(::view-transition-new(code-photo)),
.viewTransitionWrapper :global(::view-transition-old(karaoke-photo)),
.viewTransitionWrapper :global(::view-transition-new(karaoke-photo)),
.viewTransitionWrapper :global(::view-transition-old(cocktails-photo)),
.viewTransitionWrapper :global(::view-transition-new(cocktails-photo)),
.viewTransitionWrapper :global(::view-transition-old(code-title)),
.viewTransitionWrapper :global(::view-transition-new(code-title)),
.viewTransitionWrapper :global(::view-transition-old(karaoke-title)),
.viewTransitionWrapper :global(::view-transition-new(karaoke-title)),
.viewTransitionWrapper :global(::view-transition-old(cocktails-title)),
.viewTransitionWrapper :global(::view-transition-new(cocktails-title)) {
  animation: none;
  mix-blend-mode: normal;
}
