.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 40em;
  position: relative;
  perspective: 80em;
  perspective-origin: 110% 0;
}

// Common styles for boxes
.box {
  position: absolute;
  width: 400px;
  height: 40px;
  transform-style: preserve-3d;

  .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;

    &.front {
      transform: translateZ(200px);
    }

    &.back {
      transform: translateZ(-200px);
    }

    &.left {
      transform: rotateY(-90deg) translateZ(200px);
    }

    &.right {
      transform: rotateY(90deg) translateZ(200px);
    }

    &.top {
      height: 400px !important;
      transform: rotateX(90deg) translateZ(200px);
    }

    &.bottom {
      height: 400px !important;
      transform: rotateX(-90deg) translateZ(-160px);
    }
  }
}

// The base of the pickup
.base {
  & > .side {
    background-color: #000b;
    box-shadow: inset 0px 0px 18px 8px #00000080;

    &.front {
      background-image: linear-gradient(to right, #47494C, #36383C 50%, #1F1F1F);
    }
  }
}

.controls {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: flex;

  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    .label {
      color: #7F7F7F;
      font-size: 6px;
      letter-spacing: 1px;
      font-family: monospace;
      text-transform: uppercase;
      font-weight: 600;
      user-select: none;
    }

    button {
      background-color: #181818;
      width: 60px;
      height: 12px;
      cursor: pointer;
      position: relative;
      box-shadow: inset 1px 1px 1px #00000055;

      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 2px;
        background: #444;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        border-radius: 1px;
      }
    }
  }
}

.plate {
  position: absolute;
  width: 280px;
  height: 240px;
  background-color: #727377;
  border-radius: 50%;
  transform: rotateX(90deg) translateX(40px) translateZ(122px);
  background-image: repeating-radial-gradient(circle, #727377, #727377 50%, #000000 50%);
}

.recordSupport {
  position: absolute;
  width: 280px;
  height: 280px;
  background-image: linear-gradient(to right, #2F2F2F, #363636 50%, #252525);
  border-radius: 50%;
  transform: rotateX(91deg) translateX(40px) translateZ(146px) rotateZ(90deg);
  mask-image: radial-gradient(circle at center, transparent 4%, black 5%);
}

.recordSupport.spinning {
  animation: spinning 3s linear infinite;
}

// The lid of the pickup
.lid {
  transform: rotateX(45deg)translateY(-224px)translateX(-22px)scale(1.06);

  & > .side {
    background-color: #0005;
  }
}

.needle {
  position: absolute;
  top: -25px;
  right: -110px;
  width: 300px;
  height: 6px;
  background-color: white;
  border-radius: 100px;
  transform: rotateX(10deg) rotateY(90deg) rotateZ(170deg);
  transition: all 1s linear;
}

.needle.rotated {
  transform: rotateX(10deg) rotateY(30deg) rotateZ(170deg) scale(0.6);
  right: -50px;
}

.needle.reverseRotation {
  transform: rotateX(10deg) rotateY(90deg) rotateZ(170deg);
  right: -110px;
}

.needle.lifted {
  top: -40px;
}

@keyframes spinning {
  0% {
    transform: rotateX(91deg) translateX(40px) translateZ(146px) rotateZ(90deg);
  }

  50% {
    transform: rotateX(91deg) translateX(40px) translateZ(146px) rotateZ(180deg);
  }

  100% {
    transform: rotateX(91deg) translateX(40px) translateZ(146px) rotateZ(90deg);
  }
}
