.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 40em;
  position: relative;
  perspective: 80em;
  perspective-origin: top right;
  transform: scale(2);
}

// Common styles for boxes
.box {
  position: absolute;
  width: 200px;
  height: 20px;
  transform-style: preserve-3d;

  .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;

    &.front {
      transform: translateZ(100px);
    }

    &.back {
      transform: translateZ(-100px);
    }

    &.left {
      transform: rotateY(-90deg) translateZ(100px);
    }

    &.right {
      transform: rotateY(90deg) translateZ(100px);
    }

    &.top {
      height: 200px !important;
      transform: rotateX(90deg) translateZ(100px);
    }

    &.bottom {
      height: 200px !important;
      transform: rotateX(-90deg) translateZ(-80px);
    }
  }
}

// The base of the pickup
.base {
  & > .side {
    background-color: #000b;
    box-shadow: inset 0px 0px 18px 8px #00000080;

    &.front {
      background-image: linear-gradient(to right, #47494C, #36383C 50%, #1F1F1F);
    }
  }
}

.controls {
  position: absolute;
  bottom: 0;
  right: 5px;
  display: flex;

  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    .label {
      color: #7F7F7F;
      font-size: 3px;
      letter-spacing: 0.5px;
      font-family: monospace;
      text-transform: uppercase;
      font-weight: 600;
      user-select: none;
    }

    button {
      background-color: #181818;
      width: 30px;
      height: 6px;
      cursor: pointer;
      position: relative;
      box-shadow: inset 1px 1px 1px #00000055;

      &::after {
        content: '';
        display: block;
        width: 7px;
        height: 1px;
        background: #444;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        border-radius: 1px;
      }
    }
  }
}

.plate {
  position: absolute;
  width: 140px;
  height: 120px;
  background-color: #727377;
  border-radius: 50%;
  transform: rotateX(90deg) translateX(20px) translateZ(61px);
  background-image: repeating-radial-gradient(circle, #727377, #727377 50%, #000000 50%);
}

.recordSupport {
  position: absolute;
  width: 140px;
  height: 140px;
  background-image: linear-gradient(to right, #2F2F2F, #363636 50%, #252525);
  border-radius: 50%;
  transform: rotateX(91deg) translateX(20px) translateZ(73px) rotateZ(90deg);
  mask-image: radial-gradient(circle at center, transparent 4%, black 5%);
}

.recordSupport.playing {
  animation: rotateDisc 3s linear infinite;
}

// The lid of the pickup
.lid {
  transform: rotateX(45deg) translateY(-110px) translateX(-10px) scale(1.04);

  & > .side {
    background-color: #0005;
  }
}


@keyframes rotateDisc {
  0% {
    transform: rotateX(91deg) translateX(20px) translateZ(73px) rotateZ(90deg);
  }

  50% {
    transform: rotateX(91deg) translateX(20px) translateZ(73px) rotateZ(180deg);
  }

  100% {
    transform: rotateX(91deg) translateX(20px) translateZ(73px) rotateZ(90deg);
  }
}
